.cart-product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cart-product-card h3 {
  flex-grow: 1;
  text-align: left;
  padding-left: 50px;
}

.cart-product-card h4 {
  padding-right: 50px;
}

.product-card.cart-product-card button {
  background-color: red;
  border: 1px solid red;
}

@media (max-width: 768px) {
  .cart-product-card {
    flex-direction: column;
    align-items: center;
  }
  
  .cart-product-card h3 {
    text-align: center;
    padding-left: 0;
  }
  
  .cart-product-card h4 {
    padding-right: 0;
  }
}