.order-summary {
  max-width: 560px;
  border: 2px solid orangered;
  margin: auto auto 40px auto;
  margin-top: 10vh;
  border-radius: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}